<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
   <add name="maquinariaConnectionString" connectionString="Data Source=Localhost;Initial Catalog=maquinaria;User ID=administrador;Password=Binary1408;" providerName="System.Data.SqlClient" />
    <add name="conexion" connectionString="Data Source=Localhost;Initial Catalog=maquinaria;User ID=administrador;Password=Binary1408;" providerName="System.Data.SqlClient" />
     <add name="ConnectionString" connectionString="Data Source=Localhost;Initial Catalog=maquinaria;User ID=administrador;Password=Binary1408;" providerName="System.Data.SqlClient" />

  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\faguza.com\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\faguza.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\faguza.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\faguza.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\faguza.com\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\faguza.com\error_docs\bad_gateway.html" />
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="android" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="FolderPath" value="excel/" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <globalization enableClientBasedCulture="true" culture="es-MX" uiCulture="es-MX" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"  />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600" />
    <customErrors mode="Off" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtpout.secureserver.net" userName="aplicacion.sabre@gmail.com" password="App.sabre2019" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
	  <!--<add name="dp_recoleccion_conection" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net,1433;Initial Catalog=dp_recoleccion;Persist Security Info=True;User ID=autor;Password=KVVbtkDxK3Pnz4s" providerName="System.Data.SqlClient" />  -->
	  <add name="dp_recoleccion_conection" connectionString="Data Source=184.168.47.19,1433;Initial Catalog=dp_recoleccion;Persist Security Info=True;User ID=dproyect;Password=8bYly51#" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>